<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title> {% block title %}{% endblock title %}| Your Startup Name</title>

  
</head>
<body>
  <header>
    <nav>
      <div class="container1">
        <a href="#" class="logo">Company name</a>
        <ul class="menu">
          <li><a href="/home">Home</a></li>
          <li><a href="#">For job seekers</a></li>
          <li><a href="#">For compaines</a></li>
          <li ><a href="/login" class="log">Log in</a></li>
          <li><a href="/signup" class="sign">Sign up</a></li>
        </ul>
      </div>
    </nav>
  </header>

{% block body %}{% endblock body %}

  <footer>
    
    <div class="container1">
      <p>&copy; 2023 Your Startup Name. All rights reserved.</p>
    </div>
  </footer>


</body>
</html>
{% block script %}{% endblock script %}

